<RUGRAT>
<classNamePrefix>TP</classNamePrefix>
<noOfClasses>20</noOfClasses>
<allowLambdaExpressions>yes</allowLambdaExpressions>
<recursionProbability>0</recursionProbability>
<maxAllowedMethodCalls>3</maxAllowedMethodCalls>
<dbName></dbName>
<totalLOC>1000</totalLOC>
<maxNoOfMethodsPerInterface>2</maxNoOfMethodsPerInterface>
<callType>MCO1_2</callType>
<allowArray>no</allowArray>
<maxInheritanceDepth>5</maxInheritanceDepth>
<maxNoOfParametersPerMethod>15</maxNoOfParametersPerMethod>
<dbUsername></dbUsername>
<password></password>
<minNoOfParametersPerMethod>4</minNoOfParametersPerMethod>
<maximumArraySize>2</maximumArraySize>
<dbDriver></dbDriver>
<allowIndirectRecursion>no</allowIndirectRecursion>
<noOfInterfaces>3</noOfInterfaces>
<probability>20</probability>
<maxNoOfMethodsPerClass>10</maxNoOfMethodsPerClass>
<maxNoOfClassFields>8</maxNoOfClassFields>
<maxInterfacesToImplement>2</maxInterfacesToImplement>
<maxRecursionDepth>2</maxRecursionDepth>
<minNoOfClassFields>2</minNoOfClassFields>
<minInheritanceDepth>3</minInheritanceDepth>
<queryFilename></queryFilename>
<noOfInheritanceChains>4</noOfInheritanceChains>
<useQueries>false</useQueries>
<maxValueForLoop>5</maxValueForLoop>
<intMaxValue>50</intMaxValue>
<injectFilename></injectFilename>
<doReachabilityMatrix>no</doReachabilityMatrix>
<maxNestedIfs>2</maxNestedIfs>
<allowedTypes>
	<type>byte</type>
	<type>int</type>
	<type>String</type>
</allowedTypes>
<allowedLambdaExpressionTypes>
	<type>Thread</type>
	<type>Predicate Interface</type>
</allowedLambdaExpressionTypes>
</RUGRAT>